<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialMate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <SerialMate.Properties.Settings>
            <setting name="server_ip" serializeAs="String">
                <value />
            </setting>
            <setting name="server_port" serializeAs="String">
                <value />
            </setting>
            <setting name="server_password" serializeAs="String">
                <value />
            </setting>
            <setting name="log_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="font_size" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="font_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="bg_color" serializeAs="String">
                <value>Control</value>
            </setting>
        </SerialMate.Properties.Settings>
    </userSettings>
</configuration>
